<head>
</head>
<body>
<h1>Welcome to the home page</h1>
</body>
<footer>
  <nav>
    <a href="/about/" class="nav__link">About</a>
    <a href="/articles/" class="nav__link">Articles</a>
  </nav>
</footer>