// Place all the styles related to the Articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
footer {
  padding: 35px;
  background-color: #333333;
  color: #CCCCCC;
}

.nav__link {
  padding-right: 35px;
  :hover {
    color: aqua;
  }
  :link {
    color: blue;
  }
}